.admin-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    padding: 15px;
}


